<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.example.android.architecture.blueprints.todoapp.tasks.TasksActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
    </application>
</manifest>