<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".layout.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".UIMainActivity"
            android:exported="false" />
        <activity android:name=".layout.viewpager2.CardViewActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.CardFragmentActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.MutableCollectionFragmentActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.MutableCollectionViewActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.CardViewTabLayoutActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.FakeDragActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.PageTransformerActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.PreviewPagesActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.ParallelNestedScrollingActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".layout.viewpager2.BrowseActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.recyclerview.recyclersample.flower.flowerList.FlowersListActivity"
            android:exported="false" />
        <activity
            android:name=".layout.recyclerview.recyclersample.flower.flowerDetail.FlowerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".layout.recyclerview.recyclersample.flower.addFlower.AddFlowerActivity"
            android:exported="false" />

        <activity
            android:name=".layout.recyclerview.recyclersample.logger.recyclerview.LoggerActivity"
            android:theme="@style/AppThemeUI"
            android:exported="false" />
        <activity
            android:name=".layout.swiperefresh.SwipeRefreshActivity"
            android:theme="@style/AppThemeUI"
            android:exported="false" />
    </application>

</manifest>