<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".JApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackSample"
        tools:replace="android:name"
        tools:targetApi="31">
        <activity
            android:name=".navigation.fragment.NavigationFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- IOC相关 -->
        <activity
            android:name=".ioc.example.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".ioc.hilt.ui.HiltMainActivity"
            android:exported="false" />
        <activity
            android:name=".ioc.dagger.main.DaggerMainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ioc.dagger.registration.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ioc.dagger.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ioc.dagger.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".room.RoomMainActivity" />
        <activity android:name=".room.codelab.words.NewWordActivity" />
        <activity android:name=".room.codelab.words.WordsActivity" />
        <activity android:name=".room.codelab.busschedule.BusScheduleActivity" android:theme="@style/Theme.BusSchedule" />


        <activity
            android:name=".navigation.example.navigationsample.NavigationSampleMainActivity"
            android:exported="true">
            <!-- This is added to handle a deep link -->
            <nav-graph android:value="@navigation/navigation" />
        </activity>

        <activity
            android:name=".navigation.example.navigationadvancedsample.NavigationAdvancedMainActivity"
            android:exported="true"
            android:theme="@style/AdvancedActivityTheme">
            <!-- This is added to handle a deep link -->
            <nav-graph android:value="@navigation/list" />
        </activity>

        <activity
            android:name=".navigation.example.donuttracker.NavigationMADSMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <nav-graph android:value="@navigation/nav_graph" />
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".navigation.codelab.navigation.NavigationCodelabMainActivity"
            android:exported="true">

            <!-- TODO STEP 11.2 -->
            <!--<nav-graph android:value="@navigation/mobile_navigation" />-->
            <!-- TODO END STEP 11.2-->

        </activity>

        <receiver
            android:name=".navigation.codelab.navigation.DeepLinkAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>

        <activity
            android:name=".navigation.codelab.wordsapp.WordMainActivity"
            android:exported="true"
            android:theme="@style/Theme.Words" />

        <activity
            android:name="com.xxh.jetpacksample.navigation.NavigationMainActivity"
            android:exported="false" />

    </application>

</manifest>